.comboPopUp {
  display: flex;
  //   width: 99%;
  overflow: hidden;
  position: relative;

  .PopUp-heading {
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 20;
    // margin: 100px;
    // width: 250px;
  }
}
.comboPopUpContainer {
  //   width: 100%;
  flex: 3;
  display: flex;
  align-items: center;
  //   margin-left: 16px;
  margin-top: 6%;
  justify-content: space-evenly;
  text-align: center;
  padding: 70px 20px;
  background-color: #0c0c1d;
  color: #fff;
  border-radius: 30px;
  box-shadow: 0 2px 5px #f0f0f0(0, 0, 0, 0.15);
  .comboPopUpbox {
    padding: 100px 35px;
    border: 0.5px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 50px;
    // background-image: url("multicolor2a.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
      font-size: 200%;
      width: 30vh;
      font-weight: 1000;
      color: white;
      padding: 0%;
      margin: 0%;
    }

    h4 {
      font-size: x-large;
      color: white;
    }

    p {
      font-size: x-large;
      color: white;
    }
  }
  .comboPopUpbox.tall {
    margin-top: -30px;
  }
  button {
    padding: 10px;
    background-color: orange;
    border: none;
    cursor: pointer;
    margin-top: 5%;
    font-size: large;
    font-weight: bolder;
    border-radius: 20px;
    transition: transform 0.2s ease-in-out;
  }
  button:hover {
    transform: scale(1.15);
  }

  //   #4 {
  //     margin: 100px;
  //   }
}

.batch {
  height: 65%;
  width: 62%;
  margin-top: -65%;
  margin-left: 140px;
  margin-right: -50px;
}
